<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0" id="com.rdt.tpsdk" version="1.0.6">

	<name>TPSDK</name>
	
    <description>TPSDK Auth for Cordova</description>
	
    <license>Apache</license>
	
    <js-module src="www/plugin.js" name="TPSDK">
        <clobbers target="plugins.TPSDK" />
    </js-module>
	
	<!-- ios -->
    <platform name="ios">
		
        <!-- Cordova 2.5+ -->
        <config-file target="config.xml" parent="/*">
            <feature name="TPSDK">
                <param name="ios-package" value="CDVTPSKD" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
		
        <header-file src="src/ios/CDVTPSKD.h" />
        <source-file src="src/ios/CDVTPSKD.m" />

        <header-file src="src/ios/TPSDK.framework/Headers/TPApi.h" />
        <header-file src="src/ios/TPSDK.framework/Headers/TPBlockchainHeader.h" />
        <header-file src="src/ios/TPSDK.framework/Headers/TPLinkAction.h" />
        <header-file src="src/ios/TPSDK.framework/Headers/TPReqObj.h" />
        <header-file src="src/ios/TPSDK.framework/Headers/TPRespObj.h" />
        <header-file src="src/ios/TPSDK.framework/Headers/TPSDK.h" />
		
        <framework src="TPSDK.framework" />
		
		<config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>CFBundleURLName</key>
					<string>CryptoHeroes</string>
					<key>CFBundleURLSchemes</key>
					<array>
						<string>CryptoHeroes</string>
					</array>
				</dict>
            </array>
        </config-file>
		
		<config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
				<string>tpoutside</string>
				<string>weixin</string>
				<string>itms-apps</string>
				<string>sinaweibohd</string>
				<string>sinaweibo</string>
				<string>weibosdk</string>
				<string>weibosdk2.5</string>
				<string>mqqapi</string>
				<string>mqq</string>
				<string>mqqOpensdkSSoLogin</string>
				<string>mqqconnect</string>
				<string>mqqopensdkdataline</string>
				<string>mqqopensdkgrouptribeshare</string>
				<string>mqqopensdkfriend</string>
				<string>mqqopensdkapi</string>
				<string>mqqopensdkapiV2</string>
				<string>mqqopensdkapiV3</string>
				<string>mqzoneopensdk</string>
				<string>wtloginmqq</string>
				<string>wtloginmqq2</string>
				<string>mqqwpa</string>
				<string>mqzone</string>
				<string>mqzonev2</string>
				<string>mqzoneshare</string>
				<string>wtloginqzone</string>
				<string>mqzonewx</string>
				<string>mqzoneopensdkapiV2</string>
				<string>mqzoneopensdkapi19</string>
				<string>mqzoneopensdkapi</string>
				<string>mqzoneopensdk</string>
				<string>tencentapi.qzone.reqContent</string>
				<string>mqqbrowser</string>
				<string>mttbrowser</string>
			</array>
        </config-file>
		
    </platform>
	
	<!-- osx -->
    <platform name="osx">
		
        <!-- Cordova 2.5+ -->
        <config-file target="config.xml" parent="/*">
            <feature name="TPSDK">
                <param name="osx-package" value="CDVTPSKD" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
		
        <header-file src="src/ios/CDVTPSKD.h" />
        <source-file src="src/ios/CDVTPSKD.m" />

        <header-file src="src/ios/TPSDK.framework/Headers/TPApi.h" />
        <header-file src="src/ios/TPSDK.framework/Headers/TPBlockchainHeader.h" />
        <header-file src="src/ios/TPSDK.framework/Headers/TPLinkAction.h" />
        <header-file src="src/ios/TPSDK.framework/Headers/TPReqObj.h" />
        <header-file src="src/ios/TPSDK.framework/Headers/TPRespObj.h" />
        <header-file src="src/ios/TPSDK.framework/Headers/TPSDK.h" />
		
        <framework src="TPSDK.framework" />
		
		<config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>CFBundleURLName</key>
					<string>CryptoHeroes</string>
					<key>CFBundleURLSchemes</key>
					<array>
						<string>CryptoHeroes</string>
					</array>
				</dict>
            </array>
        </config-file>
		
		<config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
				<string>tpoutside</string>
				<string>weixin</string>
				<string>itms-apps</string>
				<string>sinaweibohd</string>
				<string>sinaweibo</string>
				<string>weibosdk</string>
				<string>weibosdk2.5</string>
				<string>mqqapi</string>
				<string>mqq</string>
				<string>mqqOpensdkSSoLogin</string>
				<string>mqqconnect</string>
				<string>mqqopensdkdataline</string>
				<string>mqqopensdkgrouptribeshare</string>
				<string>mqqopensdkfriend</string>
				<string>mqqopensdkapi</string>
				<string>mqqopensdkapiV2</string>
				<string>mqqopensdkapiV3</string>
				<string>mqzoneopensdk</string>
				<string>wtloginmqq</string>
				<string>wtloginmqq2</string>
				<string>mqqwpa</string>
				<string>mqzone</string>
				<string>mqzonev2</string>
				<string>mqzoneshare</string>
				<string>wtloginqzone</string>
				<string>mqzonewx</string>
				<string>mqzoneopensdkapiV2</string>
				<string>mqzoneopensdkapi19</string>
				<string>mqzoneopensdkapi</string>
				<string>mqzoneopensdk</string>
				<string>tencentapi.qzone.reqContent</string>
				<string>mqqbrowser</string>
				<string>mttbrowser</string>
			</array>
        </config-file>

    </platform>
	
    <!-- android -->
    <platform name="android">
	
		<!-- copy Lib -->
		<source-file src="src/android/lib/gson-2.3.1.jar" target-dir="libs" />
		
		<!-- copy Java Class -->
		<source-file src="src/android/TPSDK.java" target-dir="src/com/rdt/tpsdk" />
		<source-file src="src/android/Manager.java" target-dir="src/com/rdt/tpsdk" />
		<source-file src="src/android/OnCase.java" target-dir="src/com/rdt/tpsdk" />
		<source-file src="src/android/Receiver.java" target-dir="src/com/rdt/tpsdk" />
		<source-file src="src/android/Val.java" target-dir="src/com/rdt/tpsdk" />
		<source-file src="src/android/model/ActionEnum.java" target-dir="src/com/rdt/tpsdk/model" />
		<source-file src="src/android/model/Authorize.java" target-dir="src/com/rdt/tpsdk/model" />
		<source-file src="src/android/model/BaseInfo.java" target-dir="src/com/rdt/tpsdk/model" />
		<source-file src="src/android/model/Signature.java" target-dir="src/com/rdt/tpsdk/model" />
		<source-file src="src/android/model/Transaction.java" target-dir="src/com/rdt/tpsdk/model" />
		
		<!-- SET Java Class -->
		<feature name="TPSDK">
            <param name="android-package" value="com.rdt.tpsdk.TPSDK" />
        </feature>
		<!-- or SET Java Class -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TPSDK" >
                <param name="android-package" value="com.rdt.tpsdk.TPSDK"/>
            </feature>
        </config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
			<uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
			<uses-permission android:name="android.permission.VIBRATE" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
		
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<receiver
                android:name="com.rdt.tpsdk.TPSDK"
                android:enabled="true"
                android:exported="true"
                android:label="@string/app_name">
                <intent-filter>
                    <category android:name="android.intent.category.VIEW" />
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            </receiver>
			<activity
				android:name="com.rdt.tpsdk.Receiver"
				android:exported="true">
				<intent-filter>
					<action android:name="android.intent.action.VIEW" />
					<category android:name="android.intent.category.DEFAULT" />
					<category android:name="android.intent.category.BROWSABLE" />
					<data android:scheme="tp_sdk_kylin" />
				</intent-filter>
			</activity>
        </config-file>
    </platform>
</plugin>
